body {
	background-color: #BDBDBD;
	background-size: cover;
	font-size: 16px;
	
    
}

.mdl-card {
  display: flex;
  box-sizing:border-box;
  
}
.mdl-card > .mdl-card__title > .mdl-card__title-text {
    color: #fff;
    
}
.mdl-card > .mdl-card__actions > .mdl-button {
    background-color: #616161;
    
    
}
.mdl-card > .mdl-card__title {
    background-color: #212121;

}

.mdl-card > .mdl-card__supporting-text{
  
    
}
#heading {
    opacity:0.54;
    text-align:center;
    
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.login-button {
     float:right;
}


















